// colores
$black: #0b0c0d;
$white: #fff;
$cremaClaro: rgba(255, 255, 255, 0.85);
$cremaOscuro: #eeeae1;
$golden: #bc8d4b;
$gray: #D5D5D5;

// fuentes
$mainFont: "Montserrat", sans-serif;
$secundaryFont: "Times-Roman", "serif";
$logoFont: "Whisper", cursive;

// tamaños media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;